@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,700;1,400;1,700&family=Prata&family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,700;1,400;1,700&family=Prata&family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

@import "null-style.scss";

body{
    width: 1366px;
    height: 100%;
    font-family: roboto, sans-serif;
    margin: auto;
    overflow: scroll;
}
.container1{

    display: flex;
    justify-content: center;
}
header{
    background: #FDFDFB;
    height: 855px;
    position: relative;
}
.header{

    width: 1366px;
    height: 85px;
    display: flex;
    justify-content: space-around;
    align-items: center;



    &__nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 422px;
        

    }

    &__logo {

        font-family: Playfair; 
        font-size: 12px;
        display: flex;
        justify-content: space-between;
        align-items: center;

    }

    &__icons {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 99px;
        &__quantity{
            position:absolute;
            top: 30px;
            left: 1190px;
            border: 1px solid #E6C8B4;
            background-color: #E6C8B4;
            border-radius: 50%;
            height: 13px;
            width: 13px;
            font-size: 8px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}
.container2{
    position: relative;
    width: 1366px;
    height: 768px;
    background-image: url(../source/backgroud-img1.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    .price1{
        position: absolute;
        left: 583px;
        top: 223px;
        font-family: 'Prata';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;

        color: #1B1A17;

    }
    .watch_main{
        position: absolute;
        left: 662px;
        top: -10px;

    }
    .watch_char{
        position: absolute;
        left: 1130px;
        top: 721px;
        font-family: 'Prata';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;

        color: #1B1A17;

    }


}
.line{
    
    width: 100%;
    position: relative;
    &__1{
        width: 50px;
        height: 0;
        border: 1px solid #8B8371;;
        position: absolute;
        left: 120px;
        top: 357px;
    }
    &__2{
        width: 50px;
        height: 0;
        border: 1px solid #8B8371;;
        position: absolute;
        left: 673px;
        top: 233px;
    }
    &__3{
        width: 50px;
        height: 0;
        border: 1px solid #8B8371;;
        position: absolute;
        left: 1065px;
        top: 731px;
    }
}
.textBox{

    position: absolute;
    left: 185px;
    top: 321px;
    &__content{
        height: 296px;
        width: 343px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        align-content: flex-start;
        justify-content: space-between;
        &__title{
            font-family: 'Playfair Display';
            font-style: normal;
            font-weight: 400;
            font-size: 45px;
            line-height: 60px;
            
            color: #1B1A17;   
        }
        &__text1{
            font-family: 'Playfair Display';
            font-style: normal;
            font-weight: 400;
            font-size: 30px;
            line-height: 40px;
            
            color: #1B1A17;
        }
        &__text2{
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 300;
            font-size: 14px;
            line-height: 21px;

            color: rgba(27, 26, 23, 0.82);           
        }
        &__button{
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            line-height: 14px;
            letter-spacing: 0.05em;
            text-transform: uppercase;
            background: #444240;
            width: 205px;
            height: 64px;
            text-align: center;
            padding-top: 26px;
            color: #FFFFFF;

        }
    }
}
.screen2{
    width: 1366px;
    height: 720px;
    position: relative;

    &__info1{
        position: absolute;
        left: 138px;
        top: 575px;
        display: flex;
        justify-content: space-between;
        width: 140px;
        align-items: center;
        align-content: center;
        &__line{
            height: 0;
            width: 30px;
            border: 1px solid #8B8371;
        }
        &__text{
            font-family: 'Playfair Display';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 21px;
            
            color: #1B1A17;            
        }
    }
    &__info2{
        position: absolute;
        left: 538px;
        top: 575px;
        display: flex;
        justify-content: space-between;
        width: 140px;
        align-items: center;
        align-content: center;
        &__line{
            height: 0;
            width: 30px;
            border: 1px solid #8B8371;
        }
        &__text{
            font-family: 'Playfair Display';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 21px;
            
            color: #1B1A17;            
        }
    }
    &__info3{
        position: absolute;
        left: 938px;
        top: 575px;
        display: flex;
        justify-content: space-between;
        width: 140px;
        align-items: center;
        align-content: center;
        &__line{
            height: 0;
            width: 30px;
            border: 1px solid #8B8371;
        }
        &__text{
            font-family: 'Playfair Display';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 21px;
            
            color: #1B1A17;            
        }
    }

    &__title{   
        height: 115px;
        display: flex;
        flex-direction:column;
        justify-content: center;
        align-items: center;
        vertical-align: bottom;

        &__text{
            padding-top: 79px;
            font-family: 'Playfair Display';
            font-style: normal;
            font-weight: 400;
            font-size: 32px;
            line-height: 43px;
            color: #1B1A17;            
        }
    }

    &__showcase{
        height: 720px;
        display: flex;
        justify-content: center;

        &__container{
            width: 1178px;
            margin-top: 52px;
            display: flex;
            justify-content: space-between;
            &__content{
                background: #FDFDFB;
                width: 370px;
                height: 467px;
                display: flex;
                flex-direction: column;
                &__box{

                    margin: 40px 0 0 28px ;
                    &__name{
                        font-family: 'Playfair Display';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 14px;
                        line-height: 24px;
                        letter-spacing: 0.03em;
                        
                        
                        color: rgba(27, 26, 23, 0.82);
                    }
                    &__price{
                        font-family: 'Prata';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 12px;
                        line-height: 16px;
                        
                        color: rgba(27, 26, 23, 0.82);
                    }
    
                    &__watch1{
                        height: 313px;
                        width: 313px;
                        filter: drop-shadow(2px 2px 10px rgba(85, 82, 72, 0.23));
                        background-image: url(../source/watch-background.png);
                        background-repeat: no-repeat;
                        background-position: 50% 50%;
                    }
    
                    &__watch2{
                        height: 313px;
                        width: 313px;
                        filter: drop-shadow(2px 2px 10px rgba(92, 92, 80, 0.23));
                        background-image: url(../source/watch-background.png);
                        background-repeat: no-repeat;
                        background-position: 50% 50%;
                    }
        
                    &__watch3{
                        height: 313px;
                        width: 313px;
                        filter: drop-shadow(2px 2px 10px rgba(85, 82, 72, 0.23));
                        background-image: url(../source/watch-background.png);
                        background-repeat: no-repeat;
                        background-position: 50% 50%;
                    }
                }
            }
        }

    }
}
.screen3{
    position: relative;
    height: 519px;
    width: 100%;
    background: #f7f5ef; 
    background: -moz-linear-gradient(left, #f7f5ef 0%, #f7f5ef 34%, #fdfdfb 34%); 
    background: -webkit-linear-gradient(left, #f7f5ef 0%,#f7f5ef 34%,#fdfdfb 34%); 
    background: linear-gradient(to right, #f7f5ef 0%,#f7f5ef 34%,#fdfdfb 34%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f5ef', endColorstr='#fdfdfb',GradientType=1 );
    
    &__ellipse1{
        position: absolute;
        right: 0;
        top: 10px;
    }
    &__ellipse2{
        position: absolute;
        right: 0;
        top: 0;
    }
    &__photo{
        position: absolute;
        left: 177px;
        top: 52px;
        
    }
    &__textBlock{
        position: absolute;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        left: 767px;
        top: 140px;
        height: 243px;
        width: 376px;
        &__title{
            font-family: 'Playfair Display';
            font-style: normal;
            font-weight: 400;
            font-size: 32px;
            line-height: 43px;
            color: #1B1A17;
        }
        &__text{
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 150%;
            color: #444240;  
        }
        &__button{
            text-align: center;
            padding-top: 26px;
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            line-height: 14px;
            letter-spacing: 0.05em;
            color: #FFFFFF;
            background: #D4B098;
            width: 205px;
            height: 64px;       
        }
    }
}
.screen4{
    position: relative;
    height: 631px;
    display: flex;
    justify-content: center;
    vertical-align: middle;
    align-items: center;
    
    &__container{
        height: 460px;
        width: 1171px;
        &__img1{
            position: absolute;
            left: 542px;
            top: 81px;
        }
        &__img2{
            position: absolute;
            left: 542px;
            top: 319px;
        }
        &__img3{
            position: absolute;
            left: 794px;
            top: 81px;
        }
        &__instagram{
            position: absolute;
            top: 455px;
            left: 2px;
        }
        &__twitter{
            position: absolute;
            top: 461.37px;
            left: 73px;
        }
        &__facebook{
            position: absolute;
            top: 457.57px;
            left: 43px;

        }
        &__title{
            position: absolute;
            top: 302px;
            left: 97px;

            font-family: 'Playfair Display';
            font-style: normal;
            font-weight: 400;
            font-size: 32px;
            line-height: 43px;
            
            color: #1B1A17;
            position: absolute;
            left: 0;
            top: 221px;

        }
        &__text{
            position: absolute;
            top: 294px;
            left: 0;

            width: 376px;
            height: 43px;
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 27px;
            
            color: #444240;
            &__weight{
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 700;
                font-size: 16px;
                line-height: 27px;
                
                color: #262421;
            }
        }
    }
}
footer{ 
    display: flex;
    justify-content: center;
    align-content: center;
    height: 275px;
    background: #444240;

    .footer{
        margin-top: 67px;
        width: 1000px;
        display: flex;
        justify-content: center;
        align-content: center;
        &__container{
            width: 1000px;
            display: flex;
            justify-content: space-between;

            &__column1{
                display: flex;
                flex-direction: column;
                &__content{
                    width: 130px;
                    height: 34.02px;
                    display: flex;
                    justify-content: space-between;
                    font-family: 'Playfair Display';
                    font-style: normal;
                    align-items: end;
                    font-weight: 700;
                    font-size: 14px;
                    line-height: 19px;
                    letter-spacing: 0.14em;
                    margin-bottom: 22.98px;
                    
                    color: #FFFFFF;

                    &__logo{

                    }
                    &__text{
                        
                    }
                }

                &__text{
                    margin-bottom: 15px;
                    font-family: 'Roboto';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 14px;
                    
                    color: rgba(255, 255, 255, 0.75);
                }
            }

            &__column2{
                &__title{
                    margin-top: 12px;
                    margin-bottom: 33px;
                    font-family: 'Roboto';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 14px;
                    line-height: 16px;
                    letter-spacing: 0.07em;
                    text-transform: uppercase;

                    color: #FFFFFF;
                }
                &__text{
                    margin-bottom: 15px;
                    font-family: 'Roboto';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 14px;
                    
                    color: rgba(255, 255, 255, 0.75);
                }

            }
        }
    }
}